<ng-container *ngIf="admin; else notAdmin">
    <div class="wrapper">
    
        <app-navbar></app-navbar>
        <app-sidebar></app-sidebar>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ng-container *ngIf="isView; else add">
                            <h1>Employee Detail</h1>
                        </ng-container>
                        <ng-template #add>
                            <h1>Add New Employee</h1>
                        </ng-template>
                    </div>
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <ng-container *ngIf="isView; else add2">
                            <li class="breadcrumb-item active">Employee Detail</li>
                        </ng-container>
                        <ng-template #add2>
                            <li class="breadcrumb-item active">Add New Employee</li>
                        </ng-template>
                    </ol>
                    </div>
                </div>
                </div><!-- /.container-fluid -->
            </section>
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Employee</h3>
                        </div>
                        <ng-container *ngIf="message">
                            <div
                            class="mx-4 mt-4 alert {{
                                message.status ? 'alert-' + message.status : ''
                            }} fade show"
                            role="alert"
                            >
                            {{ message.text }}
                            <button
                                type="button"
                                class="btn-close btn-sm float-end"
                                data-bs-dismiss="alert"
                                (click)="message = undefined"
                                aria-label="Close"
                            >X</button>
                            </div>
                        </ng-container>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">Username <span style="color: red;">*</span></label>
                                <input 
                                    type="text"
                                    class="form-control" 
                                    placeholder="Enter username"
                                    formControlName="username"
                                    [ngClass]="isFieldValid('username')"
                                    id="username" 
                                    name="username" 
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input 
                                    type="text"
                                    class="form-control" 
                                    placeholder="Enter firstName"
                                    formControlName="firstName"
                                    [ngClass]="isFieldValid('firstName')"
                                    id="firstName" 
                                    name="firstName" 
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input 
                                    type="text"
                                    class="form-control" 
                                    placeholder="Enter lastName"
                                    formControlName="lastName"
                                    [ngClass]="isFieldValid('lastName')"
                                    id="lastName" 
                                    name="lastName" 
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="email">Email <span style="color: red;">*</span></label>
                                <input 
                                    type="email"
                                    class="form-control" 
                                    placeholder="Enter email"
                                    formControlName="email"
                                    [ngClass]="isFieldValid('email')"
                                    id="email" 
                                    name="email" 
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="birthDate">Birth Date <span style="color: red;">*</span></label>
                                <input 
                                    type="date"
                                    class="form-control" 
                                    placeholder="Enter birth date"
                                    formControlName="birthDate"
                                    [(ngModel)]="selectedDate" max="{{ today | date: 'yyyy-MM-dd' }}"
                                    [ngClass]="isFieldValid('birthDate')"
                                    id="birthDate" 
                                    name="birthDate" 
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <label for="basicSalary">Basic Salary <span style="color: red;">*</span></label>
                                <input 
                                    type="number"
                                    class="form-control" 
                                    placeholder="Enter basic salary"
                                    formControlName="basicSalary"
                                    [ngClass]="isFieldValid('basicSalary')"
                                    id="basicSalary" 
                                    name="basicSalary" 
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="status" name="status" formControlName="status">
                                    <label class="custom-control-label" for="status">Status</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="group">Group <span style="color: red;">*</span></label>
                                <select2 [data]="data" > </select2>
                            </div>
                            <div class="form-group">
                                <label for="description">Description <span style="color: red;">*</span></label>
                                <input 
                                    type="text"
                                    class="form-control" 
                                    placeholder="Enter description"
                                    formControlName="description"
                                    [ngClass]="isFieldValid('description')"
                                    id="description" 
                                    name="description" 
                                    required
                                >
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <ng-container *ngIf="isView; else add3">
                            <div class="card-footer">
                                <button class="btn btn-primary m-2" (click)="onClickCancel()">OK</button>
                            </div>
                        </ng-container>
                        <ng-template #add3>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
                                <button class="btn btn-danger m-2" (click)="onClickCancel()">Cancel</button>
                            </div>
                        </ng-template>
                        </form>
                    </div>
                    <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">
        
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

    </div>
</ng-container>
<ng-template #notAdmin>
    <div class="container-md shadow-lg m-2 mx-auto">
        <div class="row bg-base">
            <div class="col p-5">
            <h1 class="text-base">Maaf!</h1>
            <h3>Hanya Admin Yang Boleh Mengakses Halaman Ini</h3>
            <hr class="text-base" />
            </div>
        </div>

        <div class="row bg-light">
        </div>
    </div>
</ng-template>