<ng-container *ngIf="admin; else notAdmin">
    <div class="wrapper">
    
        <app-navbar></app-navbar>
        <app-sidebar></app-sidebar>
    
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1>Employee List</h1>
                    </div>
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Employee List</li>
                    </ol>
                    </div>
                </div>
                </div><!-- /.container-fluid -->
            </section>
    
            <section class="content">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <button class="btn btn-primary" (click)="add()">Add Employee</button>
                            </div>
                            <!-- /.card-header -->
                            <ng-container *ngIf="message">
                                <div
                                class="mx-4 mt-4 alert {{
                                    message.status ? 'alert-' + message.status : ''
                                }} fade show"
                                role="alert"
                                >
                                {{ message.text }}
                                <button
                                    type="button"
                                    class="btn-close btn-sm float-end"
                                    data-bs-dismiss="alert"
                                    (click)="message = undefined"
                                    aria-label="Close"
                                >X</button>
                                </div>
                            </ng-container>
                            <div class="card-body" style="overflow: auto;">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Birth Date</th>
                                    <th>Basic Salary</th>
                                    <th>Status</th>
                                    <th>Group</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employee of employees">
                                        <td>{{ employee.username }}</td>
                                        <td>{{ employee.firstName }}</td>
                                        <td>{{ employee.lastName }}</td>
                                        <td>{{ employee.email }}</td>
                                        <td>{{ employee.birthDate }}</td>
                                        <td>{{ employee.basicSalary }}</td>
                                        <td>{{ employee.status }}</td>
                                        <td>{{ employee.group }}</td>
                                        <td>{{ employee.description }}</td>
                                        <td>
                                            <a class="btn btn-warning" (click)="edit(employee.firstName)"><i class="fas fa-edit"></i></a><br><br>
                                            <a class="btn btn-danger" (click)="delete(employee.firstName)"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Birth Date</th>
                                    <th>Basic Salary</th>
                                    <th>Status</th>
                                    <th>Group</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </div>
    
    </div>
</ng-container>
<ng-template #notAdmin>
    <div class="container-md shadow-lg m-2 mx-auto">
        <div class="row bg-base">
            <div class="col p-5">
            <h1 class="text-base">Maaf!</h1>
            <h3>Hanya Admin Yang Boleh Mengakses Halaman Ini</h3>
            <hr class="text-base" />
            </div>
        </div>

        <div class="row bg-light">
        </div>
    </div>
</ng-template>